.flex-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.item {
    width: 20%;
    height: 100px;
    margin: 1%;
    background-color: #ccc;
}

@media screen and (min-width: 600px) {
    .flex-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
}